<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
		</staticContent>
		
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="0" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="RedirectTrainingToCertifications" stopProcessing="true">
					<match url="^training/(.*)\.html$" />
					<action type="Redirect" url="/certifications/{R:1}.html" redirectType="Found" />
				</rule>



				<!-- 1. Redirect non-www to www -->
				<rule name="Redirect to WWW" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^trainotracksolutions\.com$" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="http://www.trainotracksolutions.com/{R:1}" redirectType="Permanent" />
				</rule>


				<!-- 2. Redirect /index.html to root "/" -->
				<rule name="Redirect index.html to root" stopProcessing="true">
					<match url="^index\.html$" />
					<action type="Redirect" url="/" redirectType="Permanent" />
				</rule>

				<!-- 3. Redirect /Paloatonetword  to /Paloatonetwork.html "/" -->

				<rule name="Redirect Paloatonetword to Paloatonetwork" stopProcessing="true">
					<match url="^certifications/Paloatonetword\.html$" />
					<action type="Redirect" url="/certifications/Paloatonetwork.html" redirectType="Permanent" />
				</rule>

			</rules>

		</rewrite>
	</system.webServer>
</configuration>
